services:
    postgres:
        image: postgres:16
        container_name: feedback-postgres
        env_file:
            - .env
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - '5432:5432'
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U $POSTGRES_USER']
            interval: 5s
            timeout: 5s
            retries: 5

    api:
        build: ./api
        env_file:
            - .env
        depends_on:
            postgres:
                condition: service_healthy
        command: >
            sh -c "
            npm run db:generate &&
            npm run db:migrate &&
            npm run dev
            "
        ports:
            - '3333:3333'

    front:
        build: ./front
        env_file:
            - .env
        depends_on:
            postgres:
                condition: service_healthy
        ports:
            - '3000:3000'
