services:
    postgres:
        image: postgres:16
        container_name: feedback-postgres
        env_file:
            - .env
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - '5432:5432'

    api:
        build: ./api
        env_file:
            - .env
        depends_on:
            - postgres
        ports:
            - '3333:3333'

    front:
        build: ./front
        env_file:
            - .env
        depends_on:
            - api
        ports:
            - '3000:3000'
